<footer class="footer">
    <div class="footer-bg d-flex justify-content-center align-items-center" style="height: 10vh">
        <p>
            <br>
            <hr>
        </p>
        <p class="footer-copyright">
            <br>
            <hr>
            &#169 MyCeramics. All rights reserved</p>
    </div>
</footer>