<% layout('boilerplate') -%>

    <!-- Main Container -->
    <div class="container">

        <!-- Header -->
        <br>
        <h1 class="text-center">CLOUDINARY UPLOADER</h1>
        <hr>
        <p class="text-secondary">This is a simple image uploader system!</p>
        <hr>
        <!-- Header end.//-->

        <!-- Form-->
        <form action="/api/v1/projects/imageupload" enctype="multipart/form-data" method="post">

            <div class="form-group">
                <label for="upload-image-file"></label>
                <input type="file" class="form-control-file" name="upload" id="upload" placeholder="upload-image-file"
                    aria-describedby="fileHelpId">
                <small id="fileHelpId" class="form-text text-muted">Please select the image to be uploaded...</small>


            </div>

            <button type="submit" class="btn btn-primary" value="Upload">Upload</button>

        </form>
        <!-- Form end.//-->
    </div>
    <!--container end.//-->
    </body>