<% layout('boilerplate') -%>

    <div class="container-fluid container-register">

        <div class="row-item row justify-content-center m-3">
            <div class="col-item col-lg-6 col-12 p-lg-5 p-3 box-shadow">
                <form action="/api/v1/register" method="POST" class="validate-form" novalidate>

                    <H1 class="text-center">CREATE ACCOUNT</H1>

                    <div class="row">
                        <div class="col p-3 pb-0">
                            <div class="row">
                                <div class="col-md-6 col-12">
                                    <!-- First name input -->
                                    <div class="form-outline mb-4">
                                        <!-- <label class="form-label" for="firstname">firstname</label> -->
                                        <input type="text" id="firstname" class="form-control" name="firstname"
                                            placeholder="First Name" required />

                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <!-- Last name input -->
                                    <div class="form-outline mb-4">
                                        <!-- <label class="form-label" for="lastname">lastname</label> -->
                                        <input type="text" id="lastname" class="form-control" name="lastname"
                                            placeholder="Last Name" required />
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-12">
                                    <!-- Email input -->
                                    <div class="form-outline mb-4">
                                        <!-- <label class="form-label" for="email">Email address</label> -->
                                        <input type="email" id="email" class="form-control" name="email"
                                            placeholder="Enter Email" required />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-12">
                                    <!-- Password input -->
                                    <div class="form-outline form-pass mb-4">
                                        <!-- <label class="form-label" for="password">Password</label> -->
                                        <input type="password" id="password" class="form-control" name="password"
                                            placeholder="Enter Password" required />
                                        <div class="invalid-feedback">
                                            Passwords don't match
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <!-- Repeat Password input -->
                                    <div class="form-outline mb-4">
                                        <!-- <label class="form-label" for="psw-repeat">Password</label> -->
                                        <input type="password" id="psw-repeat" class="form-control" name="psw-repeat"
                                            placeholder="Repeat Password" required />

                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <!-- Submit button -->
                                    <button type="submit" class="btn btn-block mb-4">Register</button>

                                </div>
                                <div class="col-12">
                                    <p>Already have an account? <a href="/api/v1/login">Sign in</a>.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>

    <script>
        const password = document.getElementById("password");
        const repeatPass = document.getElementById("psw-repeat");

        function validatePassword() {
            if (password.value != repeatPass.value) {
                repeatPass.setCustomValidity("Passwords Don't Match");
                // password.setCustomValidity("Passwords Don't Match");
            } else {
                repeatPass.setCustomValidity('');
            }
        }

        password.onchange = validatePassword;
        repeatPass.onkeyup = validatePassword;
    </script>